
*{
    margin: 0;
    padding: 0;
}

#container{
    width: 970px;
    min-width: 200px;
    background-color: blue;
}

#second_row{
    width: 970px;
    min-width: 200px;
    background-color: orange;
    display:flex;
    justify-content: space-evenly;
}
#third_row{
    width: 970px;
    min-width: 200px;
    background-color: blueviolet
}

.icon{
    width: 250px; 
    margin: 30px;
}
.heading{
    margin-left: 300px;
}