*{
    margin: 0;
    padding: 0;
}

.nav{
    width: 1000px;
    background-color: gray;
    display: flex;
    align-items: center;
}

.nav-links{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    margin-left: 500px;
}

.nav-title{
    color: white;
}

.nav-links a{
    text-decoration: none;
    list-style-type: none;
    color: rgb(192, 192, 192);
}

.btn{
    background-color:rgb(36, 133, 133);
    color: white;
    border: 1px solid rgb(31, 21, 21);
}

#active{
    color: white;
}